body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
  top:0%;
  left: 0%;
  display: inline-block;
  width: 65vw;
  padding: 1.5vh;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  color: #2c3e50;
  vertical-align: bottom; /*aligns bottom of two divs with the same parent*/
}

.react-autosuggest__input {
  width: 65vw;;
  height: 30px;
  /* padding: 10px 20px; */
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;

}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  left: 0%;
  display: block;
  position: absolute;
  top: 100%;
  left: +0.5%;
  width: 65vw;
  padding: 1.5vh;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  /* padding: 10px 20px; */
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.input-suggest{
  display: inline-block;
  width: 65vw;
  padding: 1.5vh;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  color: #2c3e50;
  vertical-align: bottom; /*aligns bottom of two divs with the same parent*/
}
